*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
}
html{
    --black: #1c2643;
    --red: #f03d69;
    --white: #f3f6ff;

    font-size: 62.25%;
}
body{
    display: flex;
    height: 100vh;
    background: var(--white);
}
body,
button,
input,
textarea{
    font-size: clamp(14px, 1.6rem, 2vw);
    font-family:'Poppins', sans-serif;
}
.content{
    width: 100%;
    margin: 0 auto;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
input,
button,
.button{
    border-radius: 0.8rem;
    height: 5rem;
}
button,
.button{
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--red);
    color: var(--white);
    cursor: pointer;

    transition: filter 0.2s;
}
button:hover,
.button:hover{
    filter: brightness(1.2);
}
button > img .button > img{
    margin-right: 1rem;
    width: 2rem;
}
button.outlined,
.button.outlined{
    background: var(--white);
    color: var(--red);
    border: 0.2rem solid var(--red);
}
.content header{
    width: 80%;
    margin: 3,5rem auto;
}
.content header img{
    width: 80rem;
}
::placeholder{
    color: #1c2643;
}